/*-----------------------------Page Css----------------------------------------*/

/*1)Colors codes*/
/*2)Fonts*/
/*3)General Page*/
/*4)Header*/
/*5)Search Bar*/
/*6)Most Popular*/
/*7)Hotel*/
/*8)Activities*/
/*9)Footer*/
/*-----------------------------Page Générale----------------------------------*/
/*--------Colors Codes--------------------------------------------------------*/
/*
Blue:#0065FC;
Light Blue:#DEEBFF;
Grey Background:#F2F2F2;

/* -------------------- Reset -------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.cadre_pop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/*--------Fonts---------------------------------------------------------------*/

@font-face {
  font-family: "Raleway";
  src: url("Raleway-SemiBold.eot");
  src: url("Raleway-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("Raleway-SemiBold.woff2") format("woff2"),
    url("Raleway-SemiBold.woff") format("woff"),
    url("Raleway-SemiBold.ttf") format("truetype"),
    url("Raleway-SemiBold.svg#Raleway-SemiBold") format("svg");
  font-style: normal;
  font-display: swap;
}

/*-----------------------------General Page----------------------------------*/

/*body-bloc-page*/
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

/*----------------------------------------------------------------------------*/
/*                                Header                                      */
/*----------------------------------------------------------------------------*/
.header {
  display: block;
}

.header_main {
  display: block;
  margin: 0 auto;
}

header ul {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}
/*Logo*/

#logo {
  display: block;
  width: auto;
  margin-left: 10px;
  font-size: 60px;
  font-weight: bold;
}
#logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
nav {
  display: block;
  width: 100%;
}
nav ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

ul {
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

#signup {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1rem;
  margin-left: 1rem;
  color: #0065fc;
  text-decoration: none;
  font-weight: 700;
  flex-wrap: wrap;
  font-family: "Raleway";
  font-size: 18px;
  width: calc(100% - 160px);
}
#signup a {
  color: #0065fc;
}

.heberge_marseille,
.activ_marseille {
  width: 50%;
  text-align: center;
  border-bottom: 3px solid #f2f2f2;
  padding: 9px;
  font-size: 16px;
}
header nav .heberge_marseille:hover,
header nav .activ_marseille:hover {
  border-bottom: 3px solid #0065fc;
}
header nav .heberge_marseille:hover a,
header nav .activ-marseille:hover a {
  color: #0065fc;
}
header nav .heberge_marseille:focus,
header nav .activ-marseille:focus {
  color: #f2f2f2;
  border-bottom: 3px solid #f2f2f2;
}
.heberge_marseille a,
.activ_marseille a {
  color: black;
}

/* Navigation*/

/*Menu Navigation*/

/*---------------------------------------------------------------------*/
/*                            Search Bar                                */
/*---------------------------------------------------------------------*/

/*Header Main*/
section .main {
  display: flex;
  padding: 2rem 1.5rem 1rem 1.5rem;
}

h1 {
  display: block;
  text-align: start;
  margin-block-start: 10%;
  margin-block-end: 5%;
  font-weight: bold;
  font-size: 1.4em;
  font-weight: bold;
  margin: 20px 40px 5px 25px;
}

.sous_titre {
  padding-top: 0%;
  width: 100%;
  font-size: 0.85em;
  margin: 10px 20px 20px 25px;
}

/*Formulaire*/
.formulaire_boutons {
  display: flex;
  width: 100%;
  padding-top: 0px;
  height: 50px;
  margin: 10px 10px 5px 25px;
}

/*Boutons*/

.position_button {
  width: 50px;
  height: 50px;
  border: 1px solid #f2f2f2;
  background: #f2f2f2;
  text-align: center;
  color: black;
  border-radius: 15px 0px 0px 15px;
  font-size: 15px;
  cursor: pointer;
}

.search_button span {
  display: none;
}

#search {
  width: calc(100% - 120px);
  border: 3px solid #f2f2f2;
  padding: 0px 0px 0px 20px;
  font-size: 17px;
  font-family: "Raleway";
  font-weight: bold;
}
#search::placeholder {
  color: black;
}

#search:focus {
  color: black;
  border: 3px solid #f2f2f2;
}

.search_button {
  width: 50px;
  height: 50px;
  border: 1px solid #0065fc;
  background: #0065fc;
  text-align: center;
  color: white;
  border-radius: 20px;
  font-size: 15px;
  margin-left: -20px;
  cursor: pointer;
}

/*Action des boutons*/

/*Filtres*/

/*Bloc_Filtres*/
.filtres_bloc {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/*Titre h3*/
h3 {
  width: 100%;
}
.titre_filtre {
  display: flex;
  font-family: "Raleway";
  font-size: 0.8em;
  font-weight: 600;
  margin: 5px 0px 0px 15px;
}

/*Filtres*/

.button_filters {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  margin: 0px 0px 0px 20px;
}

label {
  border: 2px solid #dedede;
  display: flex;
  flex-wrap: wrap;
  border-radius: 50px;
  position: relative;
  z-index: 0;
  height: 50px;
  margin: 9px;
}

.circle-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: #deebff;
  border-radius: 50px;
  z-index: 150;
  position: relative;
  left: -2px;
  top: -2px;
}
.checkbox {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  font-weight: bold;
  transition: background 0.5s;
  cursor: pointer;
  padding: 0 12px;
}

.fas {
  color: #0065fc;
}

#filters:hover {
  box-shadow: 0px 0px 10px #0065fc;
}

#filters:focus {
  box-shadow: 0px 0px 10px #0065fc;
}

#filters:active {
  transform: translate(1px, 1px);
}

/*Infomation*/
.info {
  display: flex;
  padding-bottom: 60px;
  padding-top: 30px;
  padding-left: 2px;
  font-size: 1.075em;
  width: 100%;
  padding-top: 15px;
}
.info p {
  padding: 10px;
  font-size: 0.9em;
}
/*Icone information*/
.circle-info {
  display: block;
  color: #0065fc;
  font-size: 12px;
  border: 3px solid #f2f2f2;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  position: relative;
  padding-left: 5px;
  bottom: 10px;
  margin: 20px 0px 20px 20px;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
/*                                                           Most Popular                                                       */
/*------------------------------------------------------------------------------------------------------------------------------*/
#bloc-pop {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 10px;
}
.bloc_pop {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 20px;
  font-size: 20px;
  width: 100%;
  padding: 10px 0px 0px 0px;
}
.bloc_pop h2 {
  font-size: 1em;
  font-weight: bold;
  padding-bottom: 20px;
  width: 100%;
}
.bloc_pop .fas {
  color: black;
}
.hotel {
  border-radius: 20px;
  border: 7px solid white;
  background: white;
  margin: 0px 20px 20px 20px;
  box-shadow: 0px 0px 10px grey;
  display: flex;
  height: 150px;
  width: 100%;
  overflow: hidden;
  padding: 0px;
}
.hotel {
  transform: translate(1px, -2px);
}
.cadre_pop {
  display: block;
  width: 100%;
  height: 100%;
  padding-right: 5px;
  border-radius: 10px;
}
.cadre_pop:hover {
  transform: scale(1.05);
}
.cadre_pop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-right: 10px;
  border-radius: 10px;
}

.cadre_text {
  display: block;
  min-width: 50%;
}

.cadre_text h3 {
  font-size: 1em;
  color: black;
  font-weight: bold;
}

.cadre_text p {
  font-size: 0.7em;
  color: black;
  padding-bottom: 35px;
}
.etoiles {
  font-size: 10px;
}

.blue-star {
  color: #0065fc;
}
.grey-star {
  color: #f2f2f2;
}

/*------------------------------------------------------Hotel-------------------------------------------------------------------*/

#nom_hebergement_marseille {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.bloc_section {
  display: block;
  width: 100%;
  margin-top: 10px;
}
.bloc_section h2 {
  font-size: 1.3em;
  font-weight: bold;
  padding: 10px 0px 15px 25px;
}

.etablissement {
  display: block;
  border-radius: 20px;
  box-shadow: 0px 0px 10px grey;
  width: 100%;
  margin-bottom: 15px;
}

.cadre_etablissement {
  display: block;
  width: 100%;
  height: 120px;
  padding: 5px;
}

.cadre_etablissement:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.cadre_etablissement img {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.etablissement_cadre_text {
  display: block;
  text-align: start;
  padding: 5px 10px 5px 10px;
}
.etablissement_cadre_text h3 {
  width: 100%;
  text-align: start;
  font-size: 1.2em;
  color: black;
  font-weight: bold;
}
p {
  font-size: 0.9em;
  color: black;
  padding-bottom: 10px;
}
.etoile_etablissement {
  height: 10px;
}

.affiche_plus {
  width: 100%;
  position: relative;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
  padding: 2px 2px 40px 2px;
}
/*----------------------------------------------Activities--------------------------------------------------------------------*/

#activite_marseille {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
  width: 100%;
}

.bloc_section2 {
  display: block;
  margin-bottom: 15px;
  font-size: 20px;
  width: 100%;
  height: 100%;
  margin: 0px 5px 0px 5px;
}
.bloc_section2 h2 {
  font-size: 1.3em;
  font-weight: bold;
  padding: 10px 0px 20px 0px;
}
.activities {
  display: block;
  border-radius: 35px;
  box-shadow: 0px 0px 0px grey;
  width: 100%;
  height: 100%;
}

.activite_cadre_text h3 {
  text-align: start;
  font-size: 0.8em;
  padding: 20px;
}
.cadre_activites {
  display: block;
  width: 100%;
  height: 220px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px grey;
}
.cadre_activites {
  transform: translate(1px, -2px);
}

.cadre_activites img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.activites_cadre_text {
  display: block;
  position: relative;
  left: 10px;
  text-align: start;
  bottom: 60px;
  padding: 0px 0px 0px 10px;
}
.activites_cadre_text h3 {
  font-size: 1em;
  color: black;
}

.cadre_activites:hover {
  transform: scale(1.05); /* Agrandi les cartes au survol */
}

/*----------------------------------------------Footer-------------------------------------------------------------------------*/

footer {
  width: 100%;
  display: block;
}

.bloc_footer {
  background: #f2f2f2;
  padding: 2rem 1.5rem 1rem 1.5rem;
}
footer li {
  font-size: 19px;
  margin: 15px 0px 15px 0px;
  padding-bottom: 0.25rem;
  list-style: none;
}
footer ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

footer a {
  color: black;
}
h3 {
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  margin-inline-end: 20px;
  padding: 20px 0px 10px 2px;
}
/*------------------------------------------------------------------------------------------------------*/
/*                          Medias Queries pour Responsive Tablette et Desktop                          */
/*------------------------------------------------------------------------------------------------------*/

/* Sur tous types de tablettes */
@media all and (min-width: 736px) and (max-width: 990px) {
  .hotel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 28%;
  }
  .cadre_text {
    display: block;
  }

  .cadre_text h3 {
    font-size: 0.9em;
    color: black;
    font-weight: bold;
  }
  #nom_hebergement_marseille {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
  }
  .etablissement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 30%;
  }
  .affiche_plus {
    font-size: 1.3em;
    padding: 2px 2px 40px 10px;
  }
  #activite_marseille {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
  }
  .activities {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 30%;
  }
  footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
  }
  .bloc_footer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
}

/*Version Desktop*/

@media all and (min-width: 990px) and (max-width: 1440px);
