/*-----------------------------Page Css----------------------------------------*/

/*1)Colors codes*/
/*2)Fonts*/
/*3)General Page*/
/*4)Header*/
/*5)Search Bar*/
/*6)Most Popular*/
/*7)Hotel*/
/*8)Activities*/
/*9)Footer*/
/*-----------------------------Page Générale----------------------------------*/
/*--------Colors Codes--------------------------------------------------------*/
/*
Blue:#0065FC;
Light Blue:#DEEBFF;
Grey Background:#F2F2F2;

/*--------Fonts---------------------------------------------------------------*/

@font-face {
  font-family: "Raleway";
  src: url("Raleway-SemiBold.eot");
  src: url("Raleway-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("Raleway-SemiBold.woff2") format("woff2"),
    url("Raleway-SemiBold.woff") format("woff"),
    url("Raleway-SemiBold.ttf") format("truetype"),
    url("Raleway-SemiBold.svg#Raleway-SemiBold") format("svg");
  font-style: normal;
  font-display: swap;
}

/*-----------------------------General Page----------------------------------*/

/*body-bloc-page*/
body {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

#bloc_page {
  max-width: 1268px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  margin: auto;
  padding: 2rem, 1.5rem, 1rem, 1.5rem; /* rem unités pour rendre responsive plus facilement*/
}

.header_main {
  padding-bottom: 1.5rem;
}

/*Images Responsives*/
img {
  width: 100%;
  height: auto;
}

.header_main,
.span-h2,
.span-h3,
Footer {
  margin: 0px;
  text-decoration: none;
  color: black;
}

/*----------------------------------------------------------------------------*/
/*                                Header                                      */
/*----------------------------------------------------------------------------*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

/*Logo*/
#logo {
  display: block;
  width: auto;
  margin: 1em;
}

/* Navigation*/
#bloc_nav {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*Menu Navigation*/

nav a {
  text-decoration: none;
  color: #000;
  transition: color 0.1s ease;
}
nav a:hover {
  color: #0065fc;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}
nav li {
  width: 50%;
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid #f2f2f2;
  transition: linear 0.5 ease;
}

nav li:hover {
  border-bottom: 2px solid #0065fc;
}
.hebergement .activites:hover {
  border-bottom: 4px solid #0065fc;
  color: #0065fc;
}

a:hover {
  border: none;
  color: #0065fc;
}

#sinscrire {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-right: 1rem;
  margin-left: 1rem;
  padding-right: 2rem;
  text-decoration: none;
  color: #0065fc;
  font-weight: bold;
}

li .hebergement:hover,
li .activites:hover,
li #sinscrire {
  border-top: 1px solid #0065fc;
  cursor: pointer;
}
li .hebergement:hover,
li .activites:hover,
li #sinscrire:hover > a {
  color: #0065fc;
}

/*---------------------------------------------------------------------*/
/*                            Search Bar                                */
/*---------------------------------------------------------------------*/

/*Header Main*/
.header_main {
  max-width: 1024px;
  margin-top: 0.5rem;
}

h1 {
  font-size: 1.5em;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

p {
  font-size: 0.8;
}

/*Formulaire*/

form {
}

/*Boutons (a revoir)*/
label {
}
/*Bouton positions*/
#button_position {
}

input[type="radio"].button_position {
}

/*Barre de recherche*/
#search {
}

input[type="search"] {
}
/*Bouton de recherche*/
#button_search {
}
#button_search:hover {
}
input[type="submit"] {
}

/*Action des boutons*/

.fa fa-search {
}

.button_search {
}

/*Filtres*/

/*Bloc_Filtres*/
.filtres_bloc {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

/*Titre h2*/
.span-h2 {
  width: 100%;
  font-size: 1.3em;
  margin: 0 2rem 1rem 0;
}

/*Filtres*/

form {
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
  border: none #d9d9d9;
  background-color: white;
  border-radius: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

input[type="checkbox"] {
  position: fixed;
  opacity: 0;
}
label {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  border: 2px solid#f2f2f2;
  border-radius: 2rem;
  height: 2rem;
  width: 12rem;
  margin: 5px;
  padding-bottom: 1rem;
  padding-top: 1rem;
  cursor: pointer;
  margin-right: 20px;
}
.fas {
  color: #0065fc;
}
.map-marker-alt-black {
  color: #000;
}

/*Infomation*/

.informations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 5px;
}
/*Icone information*/
.informations_icon {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  color: #0065fc;
}
/*------------------------------------------------------------------------------------------------------------------------------*/
/*                                                           Most Popular                                                       */
/*------------------------------------------------------------------------------------------------------------------------------*/
.bloc_pop {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  width: 90%;
  flex-wrap: wrap-reverse;
}

h2 i .fas fa-chart-line {
  display: flex;
  flex-direction: row;
}

.fas fa-chart-line {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.cadre_pop {
  width: 30%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
}
.cadre_pop:hover {
  transform: scale(1.05);
}
.cadre_pop img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
  max-height: 300px;
  min-width: 250px;
}

.hotel {
  display: flex;
  flex-wrap: wrap-reverse;
  height: 90%;
  width: 90%;
}
.cadre_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  color: #000;
  text-decoration: none;
  background-color: white;
  height: auto;
  padding: 1% 0 1% 1%;
  border-radius: 20px;
  bottom: 40px;
}

/*------------------------------------------------------Hotel-------------------------------------------------------------------*/
.bloc_section2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  flex: 2;
  margin-right: 20px;
  border-radius: 10px;
  height: 90%;
  width: 90%;
  padding-left: 20px;
  padding-right: 20px;
}

a.etablissement {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 90%;
  width: 90%;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.cadre_etablissement {
  width: 60%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  border-radius: 10px 10px 10px 10px;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px #0000002e;
}
.cadre_etablissement:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.cadre_etablissement img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  max-height: 300px;
  min-width: 300px;
}
.etablissement_cadre_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*----------------------------------------------Activities--------------------------------------------------------------------*/

.bloc_section3 {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 90%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
.activities {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 90%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.cadre_activites {
  width: 60%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  border-radius: 10px 10px 10px 10px;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px #0000002e;
}

.cadre_activites:hover {
  transform: scale(1.05); /* Agrandi les cartes au survol */
}

.cadre_activites img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  max-height: 300px;
  min-width: 300px;
}
.activites_cadre_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*----------------------------------------------Footer-------------------------------------------------------------------------*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.bloc_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  margin-top: 40px;
}
nav ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
