/*-----------------------------Page Css----------------------------------------*/

/*1)Colors codes*/
/*2)Fonts*/
/*3)General Page*/
/*4)Header*/
/*5)Search Bar*/
/*6)Most Popular*/
/*7)Hotel*/
/*8)Activities*/
/*9)Footer*/
/*-----------------------------Page Générale----------------------------------*/
/*--------Colors Codes--------------------------------------------------------*/
/*
Blue:#0065FC;
Light Blue:#DEEBFF;
Grey Background:#F2F2F2;

/* -------------------- Reset -------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.cadre_pop {
  display: block;
  width: 40%;
  height: 200px;
}

.cadre_pop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*--------Fonts---------------------------------------------------------------*/

@font-face {
  font-family: "Raleway";
  src: url("Raleway-SemiBold.eot");
  src: url("Raleway-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("Raleway-SemiBold.woff2") format("woff2"),
    url("Raleway-SemiBold.woff") format("woff"),
    url("Raleway-SemiBold.ttf") format("truetype"),
    url("Raleway-SemiBold.svg#Raleway-SemiBold") format("svg");
  font-style: normal;
  font-display: swap;
}

/*-----------------------------General Page----------------------------------*/

/*body-bloc-page*/
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

/*----------------------------------------------------------------------------*/
/*                                Header                                      */
/*----------------------------------------------------------------------------*/

header {
}

/*Logo*/
#logo {
}

#logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 24px;
}

/* Navigation*/

/*Menu Navigation*/

/*---------------------------------------------------------------------*/
/*                            Search Bar                                */
/*---------------------------------------------------------------------*/

/*Header Main*/

h1 {
  font-size: 1.5em;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

p {
  font-size: 0.8;
}

/*Formulaire*/

form {
}

.formulaire_boutons {
}

/*Boutons (a revoir)*/
#button_position {
}

#search {
  width: 100%;
  border: 3px solid #f2f2f2;
  padding: 0px 0px 0px 10px;
  font-size: 24px;
  font-family: "Raleway";
}
#search::placeholder {
  color: black;
}

#submit {
}

/*Action des boutons*/

/*Filtres*/

/*Bloc_Filtres*/
.filtres_bloc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

/*Titre h2*/

/*Filtres*/

.circle-icon {
  color: #0065fc;
  font-size: 30px;
  background: #deebff;
  border-radius: 100%;
  height: 70px;
  min-width: 70px;
  top: -4px;
  left: -4px;
  position: relative;
}

#filters:hover {
  box-shadow: 0px 0px 10px #0065fc;
}

#filters:focus {
  box-shadow: 0px 0px 10px #0065fc;
}

#filters:active {
  transform: translate(1px, 1px);
}

/*Infomation*/
.info {
  display: block;
  text-align: start;
  padding-bottom: 30px;
  padding-left: 10px;
  font-size: 1.3em;
  line-height: 0px;
}
/*Icone information*/
.circle-info {
  display: block;
  color: #0065fc;
  font-size: 18px;
  border: 3px solid #f2f2f2;
  border-radius: 100%;
  height: 40px;
  min-width: 40px;
  margin-right: 10px;
  position: relative;
  padding-left: 15px;
  padding-top: 7px;
  line-height: 5px;
  bottom: 10px;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
/*                                                           Most Popular                                                       */
/*------------------------------------------------------------------------------------------------------------------------------*/
#bloc-pop {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 30px 30px 30px;
  width: 100%;
}
.bloc_pop {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-bottom: 20px;
  font-size: 20px;
  width: 100%;
}
.hotel {
  border-radius: 35px;
  border: 7px solid white;
  background: white;
  margin: 0px 0px 30px 0px;
  box-shadow: 0px 0px 10px grey;
  display: flex;
  height: 175px;
  width: 100%;
  position: relative;
}
.hotel {
  transform: translate(1px, -2px);
}
.cadre_pop {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 35px 0px 0px 35px;
  margin: 0px 0px 15px 0px;
}
.cadre_pop:hover {
  transform: scale(1.05);
}
.cadre_pop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 35px 0px 0px 35px;
  padding-right: 20px;
}

.cadre_text {
  display: block;
  float: left;
  padding: 10px 10px 10px 10px;
  min-width: 50%;
  position: relative;
  padding-top: 20px;
}

h3 {
  font-size: 1.1em;
  color: black;
  font-weight: bold;
}

p {
  font-size: 0.8em;
  padding-top: 20px;
  color: black;
  padding-bottom: 50px;
}
.etoile {
  position: absolute;
}

.blue-star {
  color: #0065fc;
}
.grey-star {
  color: #f2f2f2;
}

/*------------------------------------------------------Hotel-------------------------------------------------------------------*/

#nom_hebergement_marseille {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0px 0px 0px;
}

.bloc_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 20px;
  width: 100%;
  height: 100%;
}

h2 {
  padding-bottom: 10px;
}

.etablissement {
  display: block;
  border-radius: 35px;
  box-shadow: 0px 0px 0px grey;
  height: 400px;
  width: 800px;
  padding-bottom: 10px;
  width: 100%;
  align-items: center;
  margin-left: 10px;
}

.etablissement {
  transform: translate(1px, -2px);
}

.cadre_etablissement {
  display: block;
  width: 400px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px grey;
  position: relative;
  padding-bottom: 10px;
}

.cadre_etablissement:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.cadre_etablissement img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.etablissement_cadre_text {
  display: block;
  bottom: 80px;
  min-width: 80%;
  text-align: start;
  position: relative;
  line-height: 5px;
  padding-left: 10px;
}

.etoile_etablissement {
  position: relative;
  bottom: 30px;
}

.affiche_plus {
  position: relative;
  margin: 60px 60px 60px 60px;
  width: 100%;
  font-weight: bold;
  color: black;
  font-size: 1em;
  padding-left: 40px;
}
/*----------------------------------------------Activities--------------------------------------------------------------------*/

#activite_bloc_marseille {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0px 0px 0px;
}

.bloc_section2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 20px;
  width: 100%;
  height: 100%;
  margin-left: 10px;
}

.activities {
  display: block;
  border-radius: 35px;
  box-shadow: 0px 0px 0px grey;
  height: 400px;
  width: 800px;
  padding-bottom: 10px;
  width: 100%;
  align-items: center;
}

h2 {
  text-align: start;
  padding-right: 70px;
  padding-bottom: 20px;
  font-size: 1.3em;
}
.cadre_activites {
  display: block;
  width: 400px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px grey;
  position: relative;
  padding-bottom: 30px;
}
.cadre_activites {
  transform: translate(1px, -2px);
}

.cadre_activites img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.activites_cadre_text {
  display: block;
  bottom: 60px;
  left: 10px;
  min-width: 100%;
  text-align: start;
  position: relative;
}

.cadre_activites:hover {
  transform: scale(1.05); /* Agrandi les cartes au survol */
}

/*----------------------------------------------Footer-------------------------------------------------------------------------*/

footer {
  background-color: #f2f2f2;
  padding: 50px;
  width: 100%;
}

.bloc_footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer li {
  font-size: 16px;
  margin: 20px;
  list-style-type: none;
}

footer a {
  color: black;
}
h3 {
  padding-right: 10px;
}
